.toggle {
    border: none;
    background-color: white;
    color: gray;
}

.info-mail {
    border-left: 0.6px solid rgb(247, 247, 247);
    border-right: 0.6px solid rgb(247, 247, 247);
}

.info-mail:hover {
    background-color: rgb(247, 247, 247);
    color: rgb(80, 79, 79);
}

.info-mail span {
    font-weight: bold;
    color: #8f9bb3;
}

.icons-list {
    color: #8f9bb3;
    border-left: 0.6px solid rgb(233, 231, 231);
    border-right: 0.6px solid rgb(233, 231, 231);
}

.text-gray {
    padding: 0 20px;
    color: #8f9bb3;
}

.text-gray:hover {
    padding: 0 20px;
}

.text-gray:active {
    border-color: white !important;
}

.avator-name {
    font-size: 16px;
    font-weight: 400;
    color: rgb(82, 81, 81);
}

.toggle-mobile{
    display: none;
}

@media(max-width: 1310px){
    .info-mail{
        display: none !important;
    }
}

@media (max-width: 768px) {
    .header-hide {
        display: none !important;
    }

    .header-main {
        justify-content: center !important;
        text-align: center;
        background-color: #fff;
    }

    header h4 {
        font-size: 1.1rem;
        font-weight: 500;
        color: #333;
    }

    header {
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
    }
}