/* .custom-filter {
    background-color: #3366ff14;
    color: #2563eb;
    border: 1px solid #36f;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s ease;
}

.custom-filter:hover {
    background-color: #3366ff29;
    color: #36f;
    border-color: #044be2;
}

.custom-add {
    background-color: #9c27b014;
    color: #9c27b0;
    border: 1px solid #9c27b0;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s ease;
}

.custom-add:hover {
    background-color: #9c27b014;
    border-color: #9c27b0;
    color: #9c27b0;
} */

.breadcrumb {
    margin-bottom: 0;
    align-items: center;
}

.breadcrumb-rounded {
    border-radius: 7px;
    border: none;
}



/* beige */