<footer class="d-flex p-4 justify-content-between  align-items-center">
    <div class="footer-left">
        <span>Created with <a href="#">GK</a> 2025, Made with <a href="#">WBC SoftwareLab</a></span>
    </div>
    <div class="footer-right">
        <ul class="d-flex gap-3 list-unstyled mb-0">
            <li><a href="#" class="icons" aria-label="Facebook"><i class="bi h5 bi-facebook"></i></a></li>
            <li><a href="#" class="icons" aria-label="Instagram"><i class="bi h5 bi-instagram"></i></a></li>
            <li><a href="#" class="icons" aria-label="LinkedIn"><i class="bi h5 bi-linkedin"></i></a></li>
            <li><a href="#" class="icons" aria-label="Twitter"><i class="bi h5 bi-twitter"></i></a></li>
        </ul>
    </div>
</footer>