<div class="container-fluid vh-100 bg-white d-flex flex-column">
    <div class="row">
        <div class="col-12 border-bottom p-3 d-flex align-items-center justify-content-between bg-light">
            <h2 class="mb-0">Admin Portal</h2>
        </div>
    </div>
    <div class="row flex-grow-1 d-flex justify-content-center align-items-center">
        <div class="col-md-3">
            <div class="card">
               <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>