<div class="card-top">
    <h2 class="login">Rest Password</h2>
    <span>Hi, are you reset your password?</span>
</div>
<div class="card_body">
    <div class="form-filed mt-4">
        <div class="inputs-group mt-3">
            <label>Email</label>
            <input type="text" name="email" placeholder="e.g.jhon@gmail.com" class="form-control mt-3">
        </div>

        <div class="inputs-group mt-4">
            <button class="btn_primary">
                Send Email
            </button>
        </div>
        <div class="inputs-group mt-4 text-center">
            <span>Don’t want to reset your password? <a routerLink="/signup" class="page_navigate">Login <i
                        class="bi bi-box-arrow-up-right"></i></a></span>
        </div>
    </div>
</div>