<div class="card-top">
    <h2 class="login">Registration</h2>
    <span>Hi, Welcome Back!</span>
</div>
<div class="card_body">
    <button class="btn w-100 continue-btn py-2 mt-4 mb-5 d-flex justify-content-center align-items-center gap-2">
        <img src="./assets/images/google.png" class="google-logo"> Login with Google</button>
    <hr class="">
    <div class="form-filed mt-4">
        <div class="inputs-group mt-3">
            <label>Email</label>
            <input type="text" name="email" placeholder="e.g.jhon@gmail.com" class="form-control mt-3">
        </div>
        <div class="inputs-group mt-3">
            <label>Username</label>
            <input type="text" name="email" placeholder="Enter your Username" class="form-control mt-3">
        </div>
        <div class="inputs-group mt-3">
            <label>Mobile Number</label>
            <input type="text" name="email" placeholder="Enter your Mobile number" class="form-control mt-3">
        </div>
        <div class="inputs-group mt-3">
            <label>Password</label>
            <input type="text" name="email" placeholder="Enter your password" class="form-control mt-3">
        </div>
        <div class="inputs-group mt-4">
            <button class="btn_primary" >
                Sign In
            </button>
        </div>
        <div class="inputs-group mt-4 text-center">
            <span>Already have an account? <a routerLink="/signup" class="page_navigate">Login <i
                        class="bi bi-box-arrow-up-right"></i></a></span>
        </div>
    </div>
</div>